<section class="bg-white dark:bg-gray-900 flex justify-around">
<div class="my-2">
	<h1 class="font-bold text-lg md:text-2xl text-white">HTMX RAILS KEEP</h1>
</div>
<div class="my-2">
	<dl class="grid max-w-screen-md gap-8 mx-auto text-gray-900 sm:grid-cols-4 dark:text-white">
		<div class="flex flex-col items-center justify-center">
			<dt class="text-mb md:text-sm font-bold text-yellow-500"><%= current_user.email %></dt>
			<dd class="font-light text-gray-500 dark:text-gray-400"><%= button_to "Log out", destroy_user_session_path, method: :delete, class: "text-blue-500 dark:text-blue-400" %></dd>
		</div>
	</dl>
</div>
</section>